---
http_interactions:
- request:
    method: post
    uri: https://getpocket.com/v3/add
    body:
      encoding: UTF-8
      string: '{"url":"http://railsrumble.com","consumer_key":"33451-7ae02e7a1d7ad81154f53788","access_token":"24ed0c7a-f288-ee0c-a662-677034"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      X-Limit-Key-Limit:
      - '10000'
      X-Limit-Key-Remaining:
      - '9998'
      X-Limit-Key-Reset:
      - '3561'
      X-Limit-User-Limit:
      - '500'
      X-Limit-User-Remaining:
      - '498'
      X-Limit-User-Reset:
      - '3561'
      X-Source:
      - Pocket
    body:
      encoding: UTF-8
      string: '{"item":{"item_id":"1946263","normal_url":"http:\/\/railsrumble.com","resolved_id":"1946263","extended_item_id":"1946263","resolved_url":"http:\/\/railsrumble.com\/","domain_id":"487336","origin_domain_id":"772","response_code":"200","mime_type":"text\/html","content_length":"3238","encoding":"utf-8","date_resolved":"2014-10-03
        13:32:35","date_published":"2014-10-18 00:00:00","title":"2014 Rails Rumble","excerpt":"When
        registration opens (Oct 6 \u2014 12), you''ll be able to reserve a spot for
        your team and invite up to three others to join you. And while this year will
        be the biggest yet, spaces are still limited. So, make sure to register early!","word_count":"182","innerdomain_redirect":"1","login_required":"0","has_image":"1","has_video":"0","is_index":"1","is_article":"0","used_fallback":"1","lang":"en","authors":[],"images":{"1":{"item_id":"1946263","image_id":"1","src":"https:\/\/s3.amazonaws.com\/railsrumble.com\/sponsors\/r14\/sponsor-1406059968\/heroku.png","width":"0","height":"0","credit":"","caption":""},"2":{"item_id":"1946263","image_id":"2","src":"https:\/\/s3.amazonaws.com\/railsrumble.com\/sponsors\/r14\/sponsor-1412338647\/swell.png","width":"0","height":"0","credit":"","caption":""},"3":{"item_id":"1946263","image_id":"3","src":"https:\/\/s3.amazonaws.com\/railsrumble.com\/sponsors\/r14\/sponsor-1406059305\/github.png","width":"0","height":"0","credit":"","caption":""},"4":{"item_id":"1946263","image_id":"4","src":"https:\/\/s3.amazonaws.com\/railsrumble.com\/sponsors\/r14\/sponsor-14[...]
