@import url("//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css");
@import url(http://fonts.googleapis.com/css?family=Varela+Round);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


body, h1, h2, h3, h4, h5, h6 {
	font-family: 'Varela Round', sans-serif;
}

.text-centered {
	text-align: center !important;
}

.headlines {
	color: #36acb4;
  font-size: 60px;
  margin-top: 5%;
	text-transform: uppercase;
}

.btn {
  background: #36acb4;
  bottom: 0;
  color: #FFF;
  display: block;
  font-size: 40px;   
  height: 140px;
  line-height: 140px;
  position: fixed;
  width: 100%;

  &.btn-pocket {
    background: #ff4e6b image-url("pocket-icon.png") no-repeat;
    color: #FFF;
    width: 50%;
  }
  &.btn-instapaper {
    background: #FFF image-url("instapaper-icon.png") no-repeat;
    color: #000;
    right: 0;
    width: 50%;
  }
}

ul {
  display: table;
  margin: 5% auto;
  width: 90%;  
  
  li {
    float: left;
    padding: 0 0 0 2%;
    position: relative;
    width: calc(100% / 5);

    img {
      cursor: pointer;
      display: block;
      max-width: 200px;

      &.active {
        border: 5px solid #8FC29C;
      }
    }

    &:nth-child(3) {

      img {
        -moz-animation: rotate 3.5s infinite;
        -webkit-animation: rotate 3.5s infinite;
      }
    }

    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5) {
      
      img {
      cursor: default;
      
        &.active {
          border: none;
        }      
      }
    }

    &:nth-child(4),
    &:nth-child(5) {
      position: relative;
      transform: perspective(1000px);
      transform-style: preserve-3d;
      transition: all 0.6s ease 0s;

      .flip {
        -webkit-perspective: 1000;
        -moz-perspective: 1000;
        -o-perspective: 1000;
        perspective: 1000;

        &:hover .flipper {
          -webkit-transform: rotateY(180deg);
          -moz-transform: rotateY(180deg);
          -o-transform: rotateY(180deg);
          transform: rotateY(180deg);
          cursor: default;
        }

        .flipper {
          -webkit-transition: 0.6s;
          -webkit-transform-style: preserve-3d;

          -moz-transition: 0.6s;
          -moz-transform-style: preserve-3d;
          
          -o-transition: 0.6s;
          -o-transform-style: preserve-3d;

          transition: 0.6s;
          transform-style: preserve-3d;

          position: relative;

          img, 
          div {
            -webkit-backface-visibility: hidden;
            -moz-backface-visibility: hidden;
            -o-backface-visibility: hidden;
            backface-visibility: hidden;
          }

          img {
            position: relative;
            z-index: 2;
          }

          div { 
            -webkit-transform: rotateY(180deg);
            -moz-transform: rotateY(180deg);
            -o-transform: rotateY(180deg);
            transform: rotateY(180deg);
            align-items: center;
            background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
            bottom: 0;
            display: flex;
            left: 0;
            right: 0;
            top: 0;
            position: absolute;

            span {
              color: #FFF;
              display: block;
              text-align: center;
              width: 100%;
              font-size: 30px;
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }
}


/** Animations **/



@-moz-keyframes rotate
{
0%   {-moz-transform: rotate(0deg);}
50%  {-moz-transform: rotate(180deg);}
100% {-moz-transform: rotate(360deg);}
}

@-webkit-keyframes rotate
{
0%   {-webkit-transform: rotate(0deg);}
50%  {-webkit-transform: rotate(180deg);}
100% {-webkit-transform: rotate(360deg);}
}


