@import url("//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css");
@import url(http://fonts.googleapis.com/css?family=Varela+Round);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body, h1, h2, h3, h4, h5, h6 {
	font-family: 'Varela Round', sans-serif;
}

.text-centered {
	text-align: center !important;
}

.header {
  display: table;
  margin: 0 auto;
  width: 90%;
}
.logo {
  background: image-url("logo.png") no-repeat 0 0;
  background-size: 100%;
  cursor: pointer;
  display: block;
  margin-top: 2.2em;
  width: 100px;
  height: 68px;
}

.headlines {
	color: #2d3035;
  font-size: 60px;
  margin-top: 5%;
	text-transform: uppercase;
}

.btn {
  background: #36acb4;
  bottom: 0;
  color: #FFF;
  display: block;
  font-size: 40px;   
  height: 140px;
  line-height: 140px;
  position: fixed;
  width: 100%;

  &.btn-pocket {
    background: #ff4e6b image-url("pocket-icon.png") no-repeat;
    color: #FFF;
    width: 50%;
  }
  &.btn-instapaper {
    background: #FFF image-url("instapaper-icon.png") no-repeat;
    color: #000;
    right: 0;
    width: 50%;
  }
}

ul.readers {
  display: table;
  margin: 5% auto;
  width: 90%;  
  
  li {
    float: left;
    padding: 0 0 0 2%;
    position: relative;
    width: calc(100% / 5);

    img {
      cursor: pointer;
      display: block;
      max-width: 200px;

      &.active {
        border: 5px solid #8FC29C;
      }
    }

    &:nth-child(1),
    &:nth-child(2) {

      .pulse {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        
        &:hover, &:focus, &:active {
          -webkit-animation-name: pulse;
          animation-name: pulse;
          -webkit-animation-duration: 1s;
          animation-duration: 1s;
          -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
          -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
        }
      }
    }

    &:nth-child(3) {

      img {
        -moz-animation: rotate 3.5s infinite;
        -webkit-animation: rotate 3.5s infinite;
      }
    }

    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5) {
      
      img {
      cursor: default;
      
        &.active {
          border: none;
        }      
      }
    }

    &:nth-child(4),
    &:nth-child(5) {
      position: relative;
      transform: perspective(1000px);
      transform-style: preserve-3d;
      transition: all 0.6s ease 0s;

      .flip {
        -webkit-perspective: 1000;
        -moz-perspective: 1000;
        -o-perspective: 1000;
        perspective: 1000;

        &:hover .flipper {
          -webkit-transform: rotateY(180deg);
          -moz-transform: rotateY(180deg);
          -o-transform: rotateY(180deg);
          transform: rotateY(180deg);
          cursor: default;
        }

        .flipper {
          -webkit-transition: 0.6s;
          -webkit-transform-style: preserve-3d;

          -moz-transition: 0.6s;
          -moz-transform-style: preserve-3d;
          
          -o-transition: 0.6s;
          -o-transform-style: preserve-3d;

          transition: 0.6s;
          transform-style: preserve-3d;

          position: relative;

          img, 
          div {
            -webkit-backface-visibility: hidden;
            -moz-backface-visibility: hidden;
            -o-backface-visibility: hidden;
            backface-visibility: hidden;
          }

          img {
            position: relative;
            z-index: 2;
            opacity: .6;
          }

          div { 
            -webkit-transform: rotateY(180deg);
            -moz-transform: rotateY(180deg);
            -o-transform: rotateY(180deg);
            transform: rotateY(180deg);
            align-items: center;
            background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
            bottom: 0;
            display: flex;
            left: 0;
            right: 0;
            top: 0;
            position: absolute;

            span {
              color: #FFF;
              display: block;
              text-align: center;
              width: 100%;
              font-size: 30px;
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }
}


/** Menu Navigation **/

.cd-primary-nav-trigger {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50px;
  background-color: #36acb4;
  z-index: 3;

  .cd-menu-text {
    color: #36acb4;
    text-transform: uppercase;
    font-weight: 500;
    /* hide the text on small devices */
    display: none;
  }
  .cd-menu-icon {
    /* this span is the central line of the menu icon */
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 18px;
    height: 2px;
    background-color: #36acb4;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
    /* these are the upper and lower lines in the menu icon */
  }
}

.cd-primary-nav-trigger .cd-menu-icon::before, .cd-primary-nav-trigger .cd-menu-icon:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #36acb4;
  right: 0;
  -webkit-transition: -webkit-transform .3s, top .3s, background-color 0s;
  -moz-transition: -moz-transform .3s, top .3s, background-color 0s;
  transition: transform .3s, top .3s, background-color 0s;
}
.cd-primary-nav-trigger .cd-menu-icon::before {
  top: -5px;
}
.cd-primary-nav-trigger .cd-menu-icon::after {
  top: 5px;
}
.cd-primary-nav-trigger .cd-menu-icon.is-clicked {
  background-color: transparent;
}
.cd-primary-nav-trigger .cd-menu-icon.is-clicked::before, .cd-primary-nav-trigger .cd-menu-icon.is-clicked::after {
  background-color: #36acb4;
}
.cd-primary-nav-trigger .cd-menu-icon.is-clicked::before {
  top: 0;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.cd-primary-nav-trigger .cd-menu-icon.is-clicked::after {
  top: 0;
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
}
@media only screen and (min-width: 768px) {
  .cd-primary-nav-trigger {
    width: 100px;
    padding-left: 1em;
    background-color: transparent;
    height: 30px;
    line-height: 30px;
    right: 2.2em;
    top: 3.5em;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .cd-primary-nav-trigger .cd-menu-text {
    display: inline-block;
  }
  .cd-primary-nav-trigger .cd-menu-icon {
    left: auto;
    right: 1em;
    -webkit-transform: translateX(0) translateY(-50%);
    -moz-transform: translateX(0) translateY(-50%);
    -ms-transform: translateX(0) translateY(-50%);
    -o-transform: translateX(0) translateY(-50%);
    transform: translateX(0) translateY(-50%);
  }
}

.cd-primary-nav {
  /* by default it's hidden - on top of the viewport */
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgb(45, 48, 53);
  z-index: 2;
  text-align: center;
  padding: 50px 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: auto;
  /* this fixes the buggy scrolling on webkit browsers - mobile devices only - when overflow property is applied */
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.cd-primary-nav li {
  font-size: 3em;
  font-size: 50px;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: .2em 0;
  text-transform: capitalize;
}
.cd-primary-nav a {
  display: inline-block;
  padding: .4em 1em;
  border-radius: 0.25em;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  transition: background 0.2s;
  color: #36acb4;
}
.no-touch .cd-primary-nav a:hover {
  font-weight: 400;
}
.cd-primary-nav .cd-label {
  color: #fff;
  display: table;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  font-size: 0.875rem;
  margin: 2.4em auto .8em;
  padding: 0 40px;
  text-align: justify;
}
.cd-primary-nav.is-visible {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
@media only screen and (min-width: 768px) {
  .cd-primary-nav {
    padding: 80px 0;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-primary-nav li {
    font-size: 30px;
    font-size: 1.875rem;
  }
  .cd-primary-nav .cd-label {
    font-size: 16px;
    font-size: 1rem;
  }
}

@media all and (min-width: 320px) and (max-width: 780px) {
  .cd-primary-nav-trigger {
    background-color: transparent;
    height: 30px;
  }
  .cd-primary-nav a {
    font-size: 1.5rem;
    display: inline-block;
    padding: .4em 1em;
    border-radius: 0.25em;
    -webkit-transition: background 0.2s;
    -moz-transition: background 0.2s;
    transition: background 0.2s;
    color: #36acb4;
  }
}

/** Animations **/

/* Pulse */
@-webkit-keyframes pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

/** Rotate **/
@-moz-keyframes rotate
{
0%   {-moz-transform: rotate(0deg);}
50%  {-moz-transform: rotate(180deg);}
100% {-moz-transform: rotate(360deg);}
}

@-webkit-keyframes rotate
{
0%   {-webkit-transform: rotate(0deg);}
50%  {-webkit-transform: rotate(180deg);}
100% {-webkit-transform: rotate(360deg);}
}


