@import url("//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css");
@import url(http://fonts.googleapis.com/css?family=Varela+Round);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


body, h1, h2, h3, h4, h5, h6 {
	font-family: 'Varela Round', sans-serif;
}

.text-centered {
	text-align: center !important;
}

.headlines {
	color: #36acb4;
  font-size: 60px;
  margin-top: 5%;
	text-transform: uppercase;
}

.btn {
  background: #36acb4;
  bottom: 0;
  color: #FFF;
  display: block;
  font-size: 40px;   
  height: 140px;
  line-height: 140px;
  position: fixed;
  width: 100%;
}

ul {
  display: table;
  margin: 5% auto;
  width: 90%;  
  
  li {
    float: left;
    padding: 0 0 0 2%;
    width: calc(100% / 5);

    &:nth-child(3) {

      img {
        -moz-animation: rotate 5.0s infinite;
        -webkit-animation: rotate 5.0s infinite;
      }
    }
  }
}


/** Animations **/



@-moz-keyframes rotate
{
0%   {-moz-transform: rotate(0deg);}
25%  {-moz-transform: rotate(90deg);}
50%  {-moz-transform: rotate(180deg);}
75%  {-moz-transform: rotate(270deg);}
100% {-moz-transform: rotate(360deg);}
}

@-webkit-keyframes rotate
{
0%   {-webkit-transform: rotate(0deg);}
25%  {-webkit-transform: rotate(90deg);}
50%  {-webkit-transform: rotate(180deg);}
75%  {-webkit-transform: rotate(270deg);}
100% {-webkit-transform: rotate(360deg);}
}

