---
http_interactions:
- request:
    method: post
    uri: https://getpocket.com/v3/get
    body:
      encoding: UTF-8
      string: '{"detailType":"complete","consumer_key":"33451-7ae02e7a1d7ad81154f53788","access_token":"24ed0c7a-f288-ee0c-a662-677034"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      X-Limit-Key-Limit:
      - '10000'
      X-Limit-Key-Remaining:
      - '9999'
      X-Limit-Key-Reset:
      - '3600'
      X-Limit-User-Limit:
      - '500'
      X-Limit-User-Remaining:
      - '499'
      X-Limit-User-Reset:
      - '3600'
      X-Source:
      - Pocket
    body:
      encoding: UTF-8
      string: '{"status":1,"complete":1,"list":{"709109874":{"item_id":"709109874","resolved_id":"709109874","given_url":"http:\/\/www.lowcarb-paleo.com.br\/2014\/09\/ensaio-clinico-randomizado-low-carb_7.html","given_title":"Dieta
        Low-Carb e Paleol\u00edtica: Ensaio Cl\u00ednico Randomizado: low carb versus
        l","favorite":"0","status":"0","time_added":"1413654665","time_updated":"1413654673","time_read":"0","time_favorited":"0","sort_id":0,"resolved_title":"Ensaio
        Cl\u00ednico Randomizado: low carb versus low fat e composi\u00e7\u00e3o corporal","resolved_url":"http:\/\/www.lowcarb-paleo.com.br\/2014\/09\/ensaio-clinico-randomizado-low-carb_7.html","excerpt":"Ok,
        como at\u00e9 as pedras j\u00e1 sabem, a perda de peso \u00e9 maior em dietas
        low carb do que em dietas de baixa gordura, e este estudo randomizado n\u00e3o
        \u00e9 exce\u00e7\u00e3o (linha cont\u00ednua-> low fat; linha pontilhada->
        low carb): Por\u00e9m, a perda de peso por si s\u00f3 n\u00e3o nos serve.","is_article":"1","is_index":"0","has_video":"0","has_image":"1","word_count":"1207","tags":{"health":{"item_id":"709109874","tag":"health"}},"image":{"item_id":"709109874","src":"http:\/\/2.bp.blogspot.com\/-t_CSLvae-m4\/VAsaxk-43qI\/AAAAAAAALNM\/PU2INiPm_-g\/s1600\/Screenshot%2B2014-09-06%2Bat%2B11.31.12.png","width":"280","height":"176"},"images":{"1":{"item_id":"709109874","image_id":"1","src":"http:\/\/2.bp.blogspot.com\/-t_CSLvae-m4\/VAsaxk-43qI\/AAAAAAAALNM\/PU2INiPm_-g\/s1600\/Screenshot%2B2014-09-06%2Bat%2B11.31.12.png","width":"280","height":"176","credit":"","caption":""},"2":{"item_id":"709109874","image_id":"2","src":"http:\/\/1.bp.blogspot.com\/-SA0sujqVagE\/VAsaAjJvc7I\/AAAAAAAALM8\/ZbpxtoO1liU\/s1600\/Screenshot%2B2014-09-06%2Bat%2B11.27.19.png","width":"280","height":"175","credit":"","caption":""},"3":{"item_id":"709109874","image_id":"3","src":"http:\/\/4.bp.blogspot.com\/-D7oCrsHSXnQ\/VAsYWicjh-I\/AAAAAAAALMg\/zXKw4WWGlK4\/s1600\/Screenshot%2B2014-09-06%2Bat%2B11.20.34.png","width":"280","height":"172","credit":"","caption":""},"4":{"item_id":"709109[...]
